name: Publish
on:
  workflow_run:
    workflows:
      - Tests
    types:
      - completed
jobs:
  env-vars:
    name: Initialize environment variables
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    outputs:
      branch: ${{ steps.get-branch.outputs.name }}
      version: ${{ steps.get-version.outputs.tag }}
    steps:
      - name: Get branch name
        id: get-branch
        run: |
          echo "::set-output name=name::${GITHUB_REF#refs/heads/}"

      - name: Get package.json version
        id: get-version
        run: |
          echo "::set-output name=tag::$(jq -r .version package.json)"

  publish:
    name: Publish package
    needs: [env-vars]
    runs-on: ubuntu-latest
    steps:
      - name: Download a single artifact
        uses: actions/download-artifact@v2
        with:
          name: '${{ github.event.repository.owner.login }}-${{ github.event.repository.name }}-${{ needs.env-vars.outputs.branch }}-${{ needs.env-vars.outputs.version }}-build'

      - name: Use Node.js 16.x
        uses: actions/setup-node@v2
        with:
          node-version: '16.x'

      - name: Enable corepack
        run: corepack enable

      - name: Enable Yarn Berry
        run: yarn set version stable

      - name: Echo version number
        run: echo "${{ needs.env-vars.outputs.release }}"

      - name: Allow private package registry access
        id: allow-private-package-registry-access
        run: |
          echo "nodeLinker: node-modules" > ./.yarnrc.yml
          echo "npmScopes:" >> ./.yarnrc.yml
          echo "  ${{ github.event.repository.owner.login }}:" >> ./.yarnrc.yml
          echo "    npmRegistryServer: https://registry.npmjs.org" >> ./.yarnrc.yml
          echo "    npmAlwaysAuth: true" >> ./.yarnrc.yml
          echo "    npmAuthToken: ${{ secrets.NPM_ACCESS_TOKEN }}" >> ./.yarnrc.yml

      - name: Publish to NPM
        run: yarn npm publish
